<div class="grid grid-cols-2 gap-4 mt-3 ml-3">
  <div>
    <!-- player-card -->
    <div class="bg-gray-800 text-white rounded-lg shadow-lg p-6 mt-28">
      <div class="grid grid-cols-12">
        <div class="col-start-1 col-span-3 text-center">
          {{ gameData[currentPlayerCount].player }}
        </div>
        <div class="col-start-6 text-center">
          {{ gameData[currentPlayerCount].score }}
        </div>
        <div class="col-start-12 text-center bg-yellow-500">
          {{ gameData[currentPlayerCount].round }}
        </div>
      </div>
      <div class="grid grid-cols-12 mt-10">
        <div
          class="col-start-1 col-span-3 h-16 flex items-center justify-center bg-gray-500"
        >
          {{ gameData[currentPlayerCount].firstDart }}
        </div>
        <div
          class="col-start-5 col-span-3 text-center h-16 flex items-center justify-center bg-gray-500"
        >
          {{ gameData[currentPlayerCount].secondDart }}
        </div>
        <div
          class="col-start-9 col-span-3 text-center h-16 flex items-center justify-center bg-gray-500"
        >
          {{ gameData[currentPlayerCount].thirdDart }}
        </div>
      </div>
      <div class="possibleCheckout mt-5">
        <p>Möglicher Checkout:</p>
        <p>{{ possibleCheckout }}</p>
      </div>
    </div>

    <!-- player-card-end -->
    <!-- game control buttons -->
    <div
      class="bg-gray-800 text-white rounded-lg shadow-lg p-6 flex justify-center mt-2"
    >
      <button
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-2"
        (click)="nextPlayer()"
        [ngClass]="{
          'opacity-50 cursor-not-allowed': inRound
        }"
        [disabled]="inRound"
      >
        Nächster Spieler
      </button>
      <button
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
        (click)="deleteLastDart()"
        [ngClass]="{
          'opacity-50 cursor-not-allowed':
            gameData[currentPlayerCount].firstDart === '-'
        }"
        [disabled]="gameData[currentPlayerCount].firstDart === '-'"
      >
        Letzten Dart löschen
      </button>
    </div>

    <!-- game control buttons end -->
  </div>
  <div>
    <app-dart-board
      (thrownNumber)="onThrownNumberChange($event)"
    ></app-dart-board>
  </div>
</div>
<app-dart-winner-modal
  [isOpen]="winnerModalOpen"
  [winner]="gameData[currentPlayerCount].player"
  (closeModalEvent)="closeWinnerModal()"
></app-dart-winner-modal>
