<!-- back button -->
<a
  href="/"
  class="absolute top-0 left-0 m-4 p-4 bg-white rounded-full shadow-md"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="h-6 w-6 text-black"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M10 19l-7-7m0 0l7-7m-7 7h18"
    />
  </svg>
</a>
<!-- back button end -->
<!-- settings button -->
<button
  class="absolute top-0 right-0 m-4 p-4 rounded-full shadow-md bg-white"
  (click)="openSettingsModal()"
>
  <i class="h-5 w-6 text-black text-center fa-solid fa-gear"></i>
</button>
<!-- settings button end -->
<div class="grid grid-cols-2 gap-4 mt-3 ml-3">
  <div>
    <!-- player-card -->
    <div class="bg-gray-800 text-white rounded-lg shadow-lg p-6 mt-20">
      <div class="grid grid-cols-12">
        <div
          class="col-start-1 col-span-3 font-bold text-5xl text-center flex items-center"
        >
          <span>{{ gameData[currentPlayerCount].player }}</span>
          <i
            *ngIf="
              currentPlayerCount !== previousPlayerCount &&
              gameData[previousPlayerCount].firstDart !== '-' &&
              !legEnd
            "
            class="fa-2xs fa-solid fa-rotate-left text-red-800 ml-1 mb-8"
            (click)="backToLastPlayer()"
          ></i>
        </div>
        <div class="col-start-6 font-bold text-5xl text-center">
          {{ gameData[currentPlayerCount].score }}
        </div>
        <div class="col-start-12 text-center text-5xl bg-yellow-500">
          {{ gameData[currentPlayerCount].round }}
        </div>
      </div>
      <div class="grid grid-cols-12 mt-10">
        <div
          class="col-start-1 col-span-3 h-16 flex items-center justify-center bg-white text-black font-extrabold text-4xl"
          (click)="updateDartValue('firstDart')"
        >
          {{ gameData[currentPlayerCount].firstDart }}
        </div>
        <div
          class="col-start-5 col-span-3 text-center h-16 flex items-center justify-center bg-white text-black font-extrabold text-4xl"
          (click)="updateDartValue('secondDart')"
        >
          {{ gameData[currentPlayerCount].secondDart }}
        </div>
        <div
          class="col-start-9 col-span-3 text-center h-16 flex items-center justify-center bg-white text-black font-extrabold text-4xl"
          (click)="updateDartValue('thirdDart')"
        >
          {{ gameData[currentPlayerCount].thirdDart }}
        </div>
      </div>
      <div class="possibleCheckout font-bold text-4xl mt-10 text-center">
        <p>Möglicher Checkout:</p>
        <p class="mt-5">{{ possibleCheckout }}</p>
      </div>
    </div>

    <!-- player-card-end -->
    <!-- game control buttons -->
    <div
      class="bg-gray-800 text-white rounded-lg shadow-lg p-6 flex justify-center mt-2"
    >
      <div *ngIf="!legEnd" class="buttons-in-round">
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-2"
          (click)="nextPlayer()"
          [ngClass]="{
            'opacity-50 cursor-not-allowed': inRound
          }"
          [disabled]="inRound"
        >
          Nächster Spieler
        </button>
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
          (click)="deleteLastDart()"
          [ngClass]="{
            'opacity-50 cursor-not-allowed':
              gameData[currentPlayerCount].firstDart === '-'
          }"
          [disabled]="gameData[currentPlayerCount].firstDart === '-'"
        >
          Letzten Dart löschen
        </button>
      </div>
      <div *ngIf="legEnd" class="buttons-after-round text-center">
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
          (click)="nextRound()"
          [ngClass]="{
            'opacity-50 cursor-not-allowed': !isOneActivePlayer
          }"
          [disabled]="!isOneActivePlayer"
        >
          Neue Runde
        </button>
        <div *ngIf="!isOneActivePlayer" class="text-red-800 mt-2">
          <strong>Mindestens eine Spieler muss aktiv sein!</strong>
        </div>
      </div>
    </div>

    <!-- game control buttons end -->
  </div>
  <div>
    <app-dart-board
      (thrownNumber)="onThrownNumberChange($event)"
    ></app-dart-board>
  </div>
</div>

<!-- gameData Table -->
<div class="mt-8">
  <div class="overflow-x-auto mt-4">
    <table class="table-auto min-w-full bg-white shadow-md overflow-hidden">
      <thead class="bg-gray-800 text-white">
        <tr>
          <th class="px-4 py-2 text-left">Spieler</th>
          <th class="px-4 py-2 text-left">Gewonnene Legs</th>
          <th class="px-4 py-2 text-left">Rest Score</th>
          <th class="px-4 py-2 text-left">Runde</th>
          <th class="px-4 py-2 text-left">Runden Durchschnitt</th>
          <th class="px-4 py-2 text-left">Höchster Wurf</th>
          <th class="px-4 py-2 text-left">Aktiv?</th>
        </tr>
      </thead>
      <tbody class="text-gray-700">
        <!-- Sortiere Spieler nach gewonnenen Runden -->
        <tr *ngFor="let player of sortedGameData" class="border-b">
          <td class="px-4 py-2 text-left">{{ player.player }}</td>
          <td class="px-4 py-2 text-left">{{ player.wins }}</td>
          <td class="px-4 py-2 text-left">{{ player.score }}</td>
          <td class="px-4 py-2 text-left">{{ player.round }}</td>
          <td class="px-4 py-2 text-left">{{ player.roundAverage }}</td>
          <td class="px-4 py-2 text-left">{{ player.highestRound }}</td>
          <td class="px-4 py-2 text-left">
            <div *ngIf="legEnd" class="checkbox">
              <input
                type="checkbox"
                [(ngModel)]="player.isActive"
                (change)="checkIfOneActivePlayer()"
              />
            </div>
            <div *ngIf="!legEnd" class="active-lable">
              {{ player.isActive ? "Ja" : "Nein" }}
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- modal area -->
<app-dart-winner-modal
  [isOpen]="winnerModalOpen"
  [winner]="gameData[currentPlayerCount].player"
  (closeModalEvent)="closeWinnerModal()"
></app-dart-winner-modal>

<!-- settings modal -->

<div
  *ngIf="isSettingsModalOpen"
  class="fixed inset-0 overflow-y-auto flex items-center justify-center z-50"
>
  <div class="relative mx-auto max-w-lg">
    <div class="bg-white rounded-lg shadow-lg p-6">
      <div class="modal-content">
        <div class="modal-header flex justify-between border-b pb-4">
          <h3 class="modal-title text-lg font-semibold">Einstellungen</h3>
          <button
            class="modal-close text-gray-600 hover:text-gray-800"
            (click)="closeModal()"
          >
            X
          </button>
        </div>
        <div class="modal-body pt-4">
          <!-- audio button -->
          Score Sound:
          <button (click)="toggleSpeakToTextEnabled()">
            <span *ngIf="speakToTextEnabled"
              ><i class="h-5 w-6 text-black text-center fas fa-volume-up"></i
            ></span>
            <span *ngIf="!speakToTextEnabled"
              ><i class="h-5 w-6 text-black text-center fas fa-volume-mute"></i
            ></span>
          </button>
          <!-- audio button end -->
          <!-- special score button -->

          <div class="special-score">
            Special Score Sound:
            <button (click)="togglePlaySoundEnabled()">
              <span *ngIf="playSoundEnabled"
                ><i class="h-5 w-6 text-black text-center fas fa-volume-up"></i
              ></span>

              <span *ngIf="!playSoundEnabled"
                ><i
                  class="h-5 w-6 text-black text-center fas fa-volume-mute"
                ></i
              ></span>
            </button>
          </div>
          <!-- special score button end -->
          <!-- animation toggle button -->

          <div class="animations">
            Konfetti Animation
            <button (click)="toggleAnimationEnabled()">
              <span *ngIf="animationEnabled"
                ><i
                  class="h-5 w-6 text-black text-center fa-solid fa-toggle-on"
                ></i
              ></span>

              <span *ngIf="!animationEnabled"
                ><i
                  class="h-5 w-6 text-black text-center fa-solid fa-toggle-off"
                ></i
              ></span>
            </button>
          </div>
          <!-- animation toggle button end -->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- settings modal end -->
