<div *ngIf="!gameStartedData" class="preset">
  <app-dart-preset (gameStarted)="receiveGameStarted($event)"></app-dart-preset>
</div>
<div *ngIf="gameStartedData" class="dart-games">
  <app-dart-game-single-out
    *ngIf="gameStartedData.gameMode === 'singleOut'"
    [players]="gameStartedData.players"
    [scoreValue]="gameStartedData.scoreValue"
  ></app-dart-game-single-out>
  <app-dart-game-double-out
    *ngIf="gameStartedData.gameMode === 'doubleOut'"
    [players]="gameStartedData.players"
    [scoreValue]="gameStartedData.scoreValue"
  >
  </app-dart-game-double-out>
  <app-dart-game-around-the-clock
    *ngIf="gameStartedData.gameMode === 'aroundTheClock'"
    [players]="gameStartedData.players"
  >
  </app-dart-game-around-the-clock>
</div>
