<div class="bg-white shadow-md rounded-md mt-3">
  <div class="px-4 py-5 sm:p-6">
    <h3 class="text-lg font-semibold">Information</h3>
    <p class="mt-3"><strong>Schritt 1 - Spieler hinzufügen</strong></p>
    <p>
      Gebe einen Spielernamen ein und drücke den Button "Spieler hinzufügen"
    </p>
    <p class="mt-3"><strong>Schritt 2 - Modus auswählen</strong></p>
    <p>Wähle einen Modus "301" oder "501" aus.</p>
    <p class="mt-3"><strong>Schritt 3 - Schwierigkeit auswählen</strong></p>
    <p>Wähle eine Schwierigkeit "Single-Out" oder "Double-Out"</p>
    <p>
      - Single-Out: hierbei muss zum Abschluss bei einem Restwert von
      Beispielsweise "12" mindestens die "12" getroffen werden
    </p>
    <p>
      - Double-Out: hierbei muss zum Abschluss bei einem Restwert von
      Beispielsweise "12" die doppel "6" getroffen werden
    </p>
    <p class="mt-3"><strong>Schritt 4 - Spiel starten</strong></p>
    <p>Zum Starten auf dem Button "Spiel starten" drücken.</p>
    <p class="mt-3"><strong>Spieler löschen</strong></p>
    <p>
      Wenn ein Spieler gelöscht werden soll, drücken Sie auf das Symbol mit dem
      [<span class="text-red-500">X</span>] hinter dem Spielernamen
    </p>
  </div>
</div>
