<!-- back button -->
<a href="/" class="fixed top-0 left-0 m-4 p-4 bg-white rounded-full shadow-md">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="h-6 w-6 text-black"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M10 19l-7-7m0 0l7-7m-7 7h18"
    />
  </svg>
</a>
<!-- back button end -->
<!-- audio button -->
<button
  class="absolute top-0 right-0 m-4 p-4 rounded-full shadow-md bg-white"
  (click)="toggleSpeakToTextEnabled()"
>
  <span *ngIf="speakToTextEnabled"
    ><i class="h-5 w-6 text-black text-center fas fa-volume-up"></i
  ></span>
  <span *ngIf="!speakToTextEnabled"
    ><i class="h-5 w-6 text-black text-center fas fa-volume-mute"></i
  ></span>
</button>
<!-- audio button end -->
<div class="grid grid-cols-2 gap-4 mt-3 ml-3">
  <div>
    <!-- player-card -->
    <div class="bg-gray-800 text-white rounded-lg shadow-lg p-6 mt-20">
      <div class="grid grid-cols-12">
        <div
          class="col-start-1 col-span-3 font-bold text-5xl text-center flex items-center"
        >
          {{ gameData[currentPlayerCount].player }}
        </div>
        <div class="col-start-6 font-bold text-5xl text-center">
          {{ gameData[currentPlayerCount].score }}
        </div>
        <div class="col-start-12 text-center text-5xl bg-yellow-500">
          {{ gameData[currentPlayerCount].round }}
        </div>
      </div>
      <div class="grid grid-cols-12 mt-10">
        <div
          class="col-start-1 col-span-3 h-16 flex items-center justify-center bg-white text-black font-extrabold text-4xl"
          (click)="updateDartValue('firstDart')"
        >
          {{ gameData[currentPlayerCount].firstDart }}
        </div>
        <div
          class="col-start-5 col-span-3 text-center h-16 flex items-center justify-center bg-white text-black font-extrabold text-4xl"
          (click)="updateDartValue('secondDart')"
        >
          {{ gameData[currentPlayerCount].secondDart }}
        </div>
        <div
          class="col-start-9 col-span-3 text-center h-16 flex items-center justify-center bg-white text-black font-extrabold text-4xl"
          (click)="updateDartValue('thirdDart')"
        >
          {{ gameData[currentPlayerCount].thirdDart }}
        </div>
      </div>
    </div>

    <!-- player-card-end -->
    <!-- game control buttons -->
    <div
      class="bg-gray-800 text-white rounded-lg shadow-lg p-6 flex justify-center mt-2"
    >
      <div *ngIf="!legEnd" class="buttons-in-round">
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-2"
          (click)="nextPlayer()"
          [ngClass]="{
            'opacity-50 cursor-not-allowed': inRound
          }"
          [disabled]="inRound"
        >
          Nächster Spieler
        </button>
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
          (click)="deleteLastDart()"
          [ngClass]="{
            'opacity-50 cursor-not-allowed':
              gameData[currentPlayerCount].firstDart === '-'
          }"
          [disabled]="gameData[currentPlayerCount].firstDart === '-'"
        >
          Letzten Dart löschen
        </button>
      </div>
      <div *ngIf="legEnd" class="buttons-after-round">
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
          (click)="nextRound()"
          [ngClass]="{
            'opacity-50 cursor-not-allowed':
              gameData[currentPlayerCount].firstDart === '-'
          }"
          [disabled]="gameData[currentPlayerCount].firstDart === '-'"
        >
          Neue Runde
        </button>
      </div>
    </div>

    <!-- game control buttons end -->
  </div>
  <div>
    <app-dart-board
      (thrownNumber)="onThrownNumberChange($event)"
    ></app-dart-board>
  </div>
</div>

<!-- Trys Table -->
<div class="mt-8">
  <div class="overflow-x-auto mt-4">
    <table class="table-auto min-w-full bg-white shadow-md overflow-hidden">
      <thead class="bg-gray-800 text-white">
        <tr>
          <th class="px-4 py-2 text-left">Spieler</th>
          <th class="px-4 py-2 text-left">1</th>
          <th class="px-4 py-2 text-left">2</th>
          <th class="px-4 py-2 text-left">3</th>
          <th class="px-4 py-2 text-left">4</th>
          <th class="px-4 py-2 text-left">5</th>
          <th class="px-4 py-2 text-left">6</th>
          <th class="px-4 py-2 text-left">7</th>
          <th class="px-4 py-2 text-left">8</th>
          <th class="px-4 py-2 text-left">9</th>
          <th class="px-4 py-2 text-left">10</th>
          <th class="px-4 py-2 text-left">11</th>
          <th class="px-4 py-2 text-left">12</th>
          <th class="px-4 py-2 text-left">13</th>
          <th class="px-4 py-2 text-left">14</th>
          <th class="px-4 py-2 text-left">15</th>
          <th class="px-4 py-2 text-left">16</th>
          <th class="px-4 py-2 text-left">17</th>
          <th class="px-4 py-2 text-left">18</th>
          <th class="px-4 py-2 text-left">19</th>
          <th class="px-4 py-2 text-left">20</th>
        </tr>
      </thead>
      <tbody class="text-gray-700">
        <!-- Sortiere Spieler nach gewonnenen Runden -->
        <tr *ngFor="let player of gameData" class="border-b">
          <td class="px-4 py-2 text-left">{{ player.player }}</td>
          <td class="px-4 py-2 text-left">{{ player.trysForOne }}</td>
          <td class="px-4 py-2 text-left">{{ player.trysForTwo }}</td>
          <td class="px-4 py-2 text-left">{{ player.trysForThree }}</td>
          <td class="px-4 py-2 text-left">{{ player.trysForFour }}</td>
          <td class="px-4 py-2 text-left">{{ player.trysForFive }}</td>
          <td class="px-4 py-2 text-left">{{ player.trysForSix }}</td>
          <td class="px-4 py-2 text-left">{{ player.trysForSeven }}</td>
          <td class="px-4 py-2 text-left">{{ player.trysForEight }}</td>
          <td class="px-4 py-2 text-left">{{ player.trysForNine }}</td>
          <td class="px-4 py-2 text-left">{{ player.trysForTen }}</td>
          <td class="px-4 py-2 text-left">{{ player.trysForEleven }}</td>
          <td class="px-4 py-2 text-left">{{ player.trysForTwelve }}</td>
          <td class="px-4 py-2 text-left">{{ player.trysForThirteen }}</td>
          <td class="px-4 py-2 text-left">{{ player.trysForFourteen }}</td>
          <td class="px-4 py-2 text-left">{{ player.trysForFifteen }}</td>
          <td class="px-4 py-2 text-left">{{ player.trysForSixteen }}</td>
          <td class="px-4 py-2 text-left">{{ player.trysForSeventeen }}</td>
          <td class="px-4 py-2 text-left">{{ player.trysForEighteen }}</td>
          <td class="px-4 py-2 text-left">{{ player.trysForNineteen }}</td>
          <td class="px-4 py-2 text-left">{{ player.trysForTwenty }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- gameData Table -->
<div class="mt-8">
  <div class="overflow-x-auto mt-4">
    <table class="table-auto min-w-full bg-white shadow-md overflow-hidden">
      <thead class="bg-gray-800 text-white">
        <tr>
          <th class="px-4 py-2 text-left">Spieler</th>
          <th class="px-4 py-2 text-left">Gewonnene Legs</th>
        </tr>
      </thead>
      <tbody class="text-gray-700">
        <!-- Sortiere Spieler nach gewonnenen Runden -->
        <tr *ngFor="let player of sortedGameData" class="border-b">
          <td class="px-4 py-2 text-left">{{ player.player }}</td>
          <td class="px-4 py-2 text-left">{{ player.wins }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- modal area -->
<app-dart-winner-modal
  [isOpen]="winnerModalOpen"
  [winner]="gameData[currentPlayerCount].player"
  (closeModalEvent)="closeWinnerModal()"
></app-dart-winner-modal>
